@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--bs-font-sans-serif: 'Montserrat', sans-serif;
--bs-font-monospace: 'Montserrat', sans-serif;  
}

html { font-size: 15px; }
body { 
--bs-bg-opacity: 1;
background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
h1, h2, h3, h4, h5, h6 { margin: 0; }
.wrapper { display: flex; }

html[data-bs-theme="dark"] .btn-outline-dark {
--bs-btn-color: #fff;
--bs-btn-border-color: #373b3e;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #424649;
--bs-btn-hover-border-color: #373b3e;
--bs-btn-focus-shadow-rgb: 66,70,73;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #4d5154;
--bs-btn-active-border-color: #373b3e;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #212529;
--bs-btn-disabled-border-color: #212529;
}

html[data-bs-theme="dark"] .btn-dark {
--bs-btn-color: #fff;
--bs-btn-bg: #4d5154;
--bs-btn-border-color: var(--bs-border-color);
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #424649;
--bs-btn-hover-border-color: #373b3e;
--bs-btn-focus-shadow-rgb: 66,70,73;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #4d5154;
--bs-btn-active-border-color: #373b3e;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #212529;
--bs-btn-disabled-border-color: #212529;
}

html[data-bs-theme="dark"] {
--bs-dark-rgb: 248,249,250;
--bs-light-rgb: 33,37,41;
}

.dropdown-menu {
--bs-dropdown-padding-x: .5rem;
--bs-dropdown-padding-y: .5rem;
}
.dropdown-menu li + li {
margin-top: .25rem;
}
.dropdown-menu .dropdown-item {
border-radius: .25rem;
}

#content {
padding: 20px;
width: calc(100% - 220px);
margin-left: 220px;
min-height: 100vh;
margin-top: 50px;
transition: all 0.3s;
}
#sidebar {
position: fixed;
height: calc(100% - 50px);
min-width: 220px;
max-width: 220px;
color: #fff;
transform-origin: bottom left;
margin-top: 50px;
padding: 0;
padding-top: 15px;
overflow: scroll;
overscroll-behavior: none;
-ms-overflow-style: none;
scrollbar-width: none;
}
#sidebar::-webkit-scrollbar {
display: none;
}
#sidebar ul {
position: relative;
float: left;
width: 100%;
}
#sidebar ul li{
position: relative;
float: left;
width: 100%;
margin: 5px 0;
}
#sidebar ul li .line{
position: relative;
float: left;
width: 5px;
height: 30px;
opacity: 0;
border-radius: 0 0.25rem 0.25rem 0;
}
#sidebar ul li.active .line{
opacity: 1;
}
#sidebar ul li ul {
margin-top: 5px;
}
#sidebar ul li a {
position: relative;
float: left;
width: calc(100% - 25px);
margin: 0 10px;
padding: 5px;
font-size: 1em;
line-height: 20px;
display: block;
text-decoration: none;
border-radius: 0.25rem;
transition: .5s;
}
#sidebar ul li a i {
position: relative;
float: left;
font-size: 1em;
width: 20px;
margin-right: 2px;
text-align: center;
}
#sidebar ul li a:hover,
a[aria-expanded="true"]{
--bs-bg-opacity: .5;
background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
#sidebar ul li.active > a {
--bs-bg-opacity: 1;
background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
#sidebar ul li ul li a {
position: relative;
float: left;
width: calc(100% - 52px);
padding: 0 !important;
margin: 0 0 0 42px !important;
line-height: 12px;
font-size: .9em;
font-weight: 300;
background: none !important;;
text-align: left;
color: var(--bs-tertiary-color) !important;
}
#sidebar ul li ul li a:hover {
background: none !important;
color: var(--bs-secondary-color) !important;
}
#sidebar ul li.active ul li.active > a {
background: none !important;
font-weight: 400;
color: var(--bs-secondary-color) !important;
}
a[data-toggle="collapse"] {
position: relative;
}
#topbar{
position: fixed;
float: left;
width: 100%;
height: 50px;
padding: 10px 20px;
z-index: 9;
}

/* MENÙ MOBILE */
#topbar #menu{position: relative;float: right;right: 0;top:0;width: 30px;margin-top: 6px;cursor: pointer;}
#topbar #menu .bar{position: relative;float: left;width: 100%;height: 3px;transition: .3s;border-radius: 2px;}
#topbar #menu .bar-2{margin: 5px 0;}
#topbar #menu.click .bar-1{margin-top: 8px;transform: rotate(45deg);}
#topbar #menu.click .bar-3{margin-top: -3px;transform: rotate(-45deg);}
#topbar #menu.click .bar-2{display: none;}

@media (max-width: 768px){
#content{
position: relative;
width: 100%;
min-height: auto;
margin-left: 0px;
}
.col-1, .col-2{
width: 50%;
}
.col-3, .col-4,.col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
width: 100%;
}
#sidebar{
position: fixed;
width: 100%;
max-width: 100%;
min-width: 100%;
padding: 2% 0;
margin-top: -250%;
z-index: 8;
transition: 1s;
}
#sidebar ul li ul{
margin-top: 0%;
}
#sidebar .components {
position: relative;
float: left;
}
#sidebar.show {
margin-top: 50px;
}
}