@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--bs-font-sans-serif: 'Montserrat', sans-serif;;
--bs-font-monospace: 'Montserrat', sans-serif;;
}

body {
background: #f5f5f7;
}
h1, h2, h3, h4, h5, h6 {
margin: 0;
}

.wrapper {
display: flex;
}
#content {
padding: 20px;
width: calc(100% - 220px);
margin-left: 220px;
min-height: 100vh;
margin-top: 50px;
transition: all 0.3s;
}
#sidebar {
position: fixed;
height: 100%;
min-width: 220px;
max-width: 220px;
color: #fff;
transform-origin: bottom left;
margin-top: 50px;
padding: 0;
padding-top: 20px;
overflow: scroll;
overscroll-behavior: none;
-ms-overflow-style: none;
scrollbar-width: none;
}
#sidebar::-webkit-scrollbar {
display: none;
}
#sidebar ul {
position: relative;
float: left;
width: 100%;
}
#sidebar ul li{
position: relative;
float: left;
width: 100%;
margin: 5px 0;
}
#sidebar ul li .line{
position: relative;
float: left;
width: 5px;
height: 30px;
background: none;
border-radius: 0 0.25rem 0.25rem 0;
}
#sidebar ul li.active .line{
background: white;
}
#sidebar ul li ul {
margin-top: 5px;
}
#sidebar ul li a {
position: relative;
float: left;
width: calc(100% - 25px);
margin: 0 10px;
padding: 5px;
font-size: 1em;
line-height: 20px;
display: block;
color: white;
text-decoration: none;
border-radius: 0.25rem;
transition: .5s;
}
#sidebar ul li a i{
position: relative;
float: left;
font-size: 1em;
width: 20px;
margin-right: 2px;
text-align: center;
}
#sidebar ul li a:hover {
background: rgba(255,255,255,0.075);
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
background: rgba(255,255,255,0.2);
}
#sidebar ul li ul li a {
position: relative;
float: left;
width: calc(100% - 52px);
padding: 0 !important;
margin: 0 0 0 42px !important;
line-height: 12px;
font-size: .9em;
font-weight: 300;
background: none;
text-align: left;
color: rgba(255,255,255,.5);
}
#sidebar ul li ul li a:hover {
background: none;
color: rgba(255,255,255,.8);
}
#sidebar ul li.active ul li.active > a, a[aria-expanded="true"] {
background: none;
color: rgba(255,255,255,1);
}
a[data-toggle="collapse"] {
position: relative;
}
ul ul a {
background: rgba(255,255,255,0.1);
}

#topbar{
position: fixed;
float: left;
width: 100%;
height: 50px;
padding: 10px 20px;
z-index: 9;
}

/* MENÙ MOBILE */
#topbar #menu{position: absolute;float: right;right: 0;top:0;width: 30px;margin-top: 16.5px;margin-right: 20px;}
#topbar #menu .bar{position: relative;float: left;width: 100%;height: 3px;transition: .3s;border-radius: 2px;}
#topbar #menu .bar-2{margin: 4px 0;}
#topbar #menu.click .bar-1{margin-top: 8px;transform: rotate(45deg);}
#topbar #menu.click .bar-3{margin-top: -4px;transform: rotate(-45deg);}
#topbar #menu.click .bar-2{display: none;}

@media (max-width: 768px){
#content{
position: relative;
width: 100%;
min-height: auto;
margin-left: 0px;
}
.col-1, .col-2{
width: 50%;
}
.col-3, .col-4,.col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
width: 100%;
}
#sidebar{
position: fixed;
width: 100%;
max-width: 100%;
min-width: 100%;
padding: 2% 0;
margin-top: -250%;
z-index: 8;
transition: 1s;
}
#sidebar ul li ul{
margin-top: 0%;
}
#sidebar .components {
position: relative;
float: left;
}
#sidebar.show {
margin-top: 50px;
}
}