.w-0 { width: 0% !important; }
.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-35 { width: 35% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-55 { width: 55% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-85 { width: 85% !important; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }
.w-100 { width: 100% !important; }
.w-105 { width: 105% !important; }
.w-110 { width: 110% !important; }
.w-115 { width: 115% !important; }
.w-120 { width: 120% !important; }
.w-125 { width: 125% !important; }
.w-130 { width: 130% !important; }

.h-0 { height: 0% !important; }
.h-5 { height: 5% !important; }
.h-10 { height: 10% !important; }
.h-15 { height: 15% !important; }
.h-20 { height: 20% !important; }
.h-25 { height: 25% !important; }
.h-30 { height: 30% !important; }
.h-35 { height: 35% !important; }
.h-40 { height: 40% !important; }
.h-45 { height: 45% !important; }
.h-50 { height: 50% !important; }
.h-55 { height: 55% !important; }
.h-60 { height: 60% !important; }
.h-65 { height: 65% !important; }
.h-70 { height: 70% !important; }
.h-75 { height: 75% !important; }
.h-80 { height: 80% !important; }
.h-85 { height: 85% !important; }
.h-90 { height: 90% !important; }
.h-95 { height: 95% !important; }
.h-100 { height: 100% !important; }
.h-105 { height: 105% !important; }
.h-110 { height: 110% !important; }
.h-115 { height: 115% !important; }
.h-120 { height: 120% !important; }
.h-125 { height: 125% !important; }
.h-130 { height: 130% !important; }

.max-w-0 { max-width: 0% !important; }
.max-w-5 { max-width: 5% !important; }
.max-w-10 { max-width: 10% !important; }
.max-w-15 { max-width: 15% !important; }
.max-w-20 { max-width: 20% !important; }
.max-w-25 { max-width: 25% !important; }
.max-w-30 { max-width: 30% !important; }
.max-w-35 { max-width: 35% !important; }
.max-w-40 { max-width: 40% !important; }
.max-w-45 { max-width: 45% !important; }
.max-w-50 { max-width: 50% !important; }
.max-w-55 { max-width: 55% !important; }
.max-w-60 { max-width: 60% !important; }
.max-w-65 { max-width: 65% !important; }
.max-w-70 { max-width: 70% !important; }
.max-w-75 { max-width: 75% !important; }
.max-w-80 { max-width: 80% !important; }
.max-w-85 { max-width: 85% !important; }
.max-w-90 { max-width: 90% !important; }
.max-w-95 { max-width: 95% !important; }
.max-w-100 { max-width: 100% !important; }
.max-w-105 { max-width: 105% !important; }
.max-w-110 { max-width: 110% !important; }
.max-w-115 { max-width: 115% !important; }
.max-w-120 { max-width: 120% !important; }
.max-w-125 { max-width: 125% !important; }
.max-w-130 { max-width: 130% !important; }

.max-h-0 { max-height: 0% !important; }
.max-h-5 { max-height: 5% !important; }
.max-h-10 { max-height: 10% !important; }
.max-h-15 { max-height: 15% !important; }
.max-h-20 { max-height: 20% !important; }
.max-h-25 { max-height: 25% !important; }
.max-h-30 { max-height: 30% !important; }
.max-h-35 { max-height: 35% !important; }
.max-h-40 { max-height: 40% !important; }
.max-h-45 { max-height: 45% !important; }
.max-h-50 { max-height: 50% !important; }
.max-h-55 { max-height: 55% !important; }
.max-h-60 { max-height: 60% !important; }
.max-h-65 { max-height: 65% !important; }
.max-h-70 { max-height: 70% !important; }
.max-h-75 { max-height: 75% !important; }
.max-h-80 { max-height: 80% !important; }
.max-h-85 { max-height: 85% !important; }
.max-h-90 { max-height: 90% !important; }
.max-h-95 { max-height: 95% !important; }
.max-h-100 { max-height: 100% !important; }
.max-h-105 { max-height: 105% !important; }
.max-h-110 { max-height: 110% !important; }
.max-h-115 { max-height: 115% !important; }
.max-h-120 { max-height: 120% !important; }
.max-h-125 { max-height: 125% !important; }
.max-h-130 { max-height: 130% !important; }

.min-w-0 { min-width: 0% !important; }
.min-w-5 { min-width: 5% !important; }
.min-w-10 { min-width: 10% !important; }
.min-w-15 { min-width: 15% !important; }
.min-w-20 { min-width: 20% !important; }
.min-w-25 { min-width: 25% !important; }
.min-w-30 { min-width: 30% !important; }
.min-w-35 { min-width: 35% !important; }
.min-w-40 { min-width: 40% !important; }
.min-w-45 { min-width: 45% !important; }
.min-w-50 { min-width: 50% !important; }
.min-w-55 { min-width: 55% !important; }
.min-w-60 { min-width: 60% !important; }
.min-w-65 { min-width: 65% !important; }
.min-w-70 { min-width: 70% !important; }
.min-w-75 { min-width: 75% !important; }
.min-w-80 { min-width: 80% !important; }
.min-w-85 { min-width: 85% !important; }
.min-w-90 { min-width: 90% !important; }
.min-w-95 { min-width: 95% !important; }
.min-w-100 { min-width: 100% !important;}
.min-w-105 { min-width: 105% !important; }
.min-w-110 { min-width: 110% !important; }
.min-w-115 { min-width: 115% !important; }
.min-w-120 { min-width: 120% !important; }
.min-w-125 { min-width: 125% !important; }
.min-w-130 { min-width: 130% !important; }

.min-h-0 { min-height: 0% !important; }
.min-h-5 { min-height: 5% !important; }
.min-h-10 { min-height: 10% !important; }
.min-h-15 { min-height: 15% !important; }
.min-h-20 { min-height: 20% !important; }
.min-h-25 { min-height: 25% !important; }
.min-h-30 { min-height: 30% !important; }
.min-h-35 { min-height: 35% !important; }
.min-h-40 { min-height: 40% !important; }
.min-h-45 { min-height: 45% !important; }
.min-h-50 { min-height: 50% !important; }
.min-h-55 { min-height: 55% !important; }
.min-h-60 { min-height: 60% !important; }
.min-h-65 { min-height: 65% !important; }
.min-h-70 { min-height: 70% !important; }
.min-h-75 { min-height: 75% !important; }
.min-h-80 { min-height: 80% !important; }
.min-h-85 { min-height: 85% !important; }
.min-h-90 { min-height: 90% !important; }
.min-h-95 { min-height: 95% !important; }
.min-h-100 { min-height: 100% !important; }
.min-h-105 { min-height: 105% !important; }
.min-h-110 { min-height: 110% !important; }
.min-h-115 { min-height: 115% !important; }
.min-h-120 { min-height: 120% !important; }
.min-h-125 { min-height: 125% !important; }
.min-h-130 { min-height: 130% !important; }

.w-auto { width: auto !important; }
.w-fit { width: fit-content !important; }

.h-auto { height: auto !important; }
.h-fit { height: fit-content !important; }

@media (max-width: 1000px) {
.w-t-0 { width: 0% !important; }
.w-t-5 { width: 5% !important; }
.w-t-10 { width: 10% !important; }
.w-t-15 { width: 15% !important; }
.w-t-20 { width: 20% !important; }
.w-t-25 { width: 25% !important; }
.w-t-30 { width: 30% !important; }
.w-t-35 { width: 35% !important; }
.w-t-40 { width: 40% !important; }
.w-t-45 { width: 45% !important; }
.w-t-50 { width: 50% !important; }
.w-t-55 { width: 55% !important; }
.w-t-60 { width: 60% !important; }
.w-t-65 { width: 65% !important; }
.w-t-70 { width: 70% !important; }
.w-t-75 { width: 75% !important; }
.w-t-80 { width: 80% !important; }
.w-t-85 { width: 85% !important; }
.w-t-90 { width: 90% !important; }
.w-t-95 { width: 95% !important; }
.w-t-100 { width: 100% !important; }
.w-t-105 { width: 105% !important; }
.w-t-110 { width: 110% !important; }
.w-t-115 { width: 115% !important; }
.w-t-120 { width: 120% !important; }
.w-t-125 { width: 125% !important; }
.w-t-130 { width: 130% !important; }

.h-t-0 { height: 0% !important; }
.h-t-5 { height: 5% !important; }
.h-t-10 { height: 10% !important; }
.h-t-15 { height: 15% !important; }
.h-t-20 { height: 20% !important; }
.h-t-25 { height: 25% !important; }
.h-t-30 { height: 30% !important; }
.h-t-35 { height: 35% !important; }
.h-t-40 { height: 40% !important; }
.h-t-45 { height: 45% !important; }
.h-t-50 { height: 50% !important; }
.h-t-55 { height: 55% !important; }
.h-t-60 { height: 60% !important; }
.h-t-65 { height: 65% !important; }
.h-t-70 { height: 70% !important; }
.h-t-75 { height: 75% !important; }
.h-t-80 { height: 80% !important; }
.h-t-85 { height: 85% !important; }
.h-t-90 { height: 90% !important; }
.h-t-95 { height: 95% !important; }
.h-t-100 { height: 100% !important; }
.h-t-105 { height: 105% !important; }
.h-t-110 { height: 110% !important; }
.h-t-115 { height: 115% !important; }
.h-t-120 { height: 120% !important; }
.h-t-125 { height: 125% !important; }
.h-t-130 { height: 130% !important; }

.max-w-t-0 { max-width: 0% !important; }
.max-w-t-5 { max-width: 5% !important; }
.max-w-t-10 { max-width: 10% !important; }
.max-w-t-15 { max-width: 15% !important; }
.max-w-t-20 { max-width: 20% !important; }
.max-w-t-25 { max-width: 25% !important; }
.max-w-t-30 { max-width: 30% !important; }
.max-w-t-35 { max-width: 35% !important; }
.max-w-t-40 { max-width: 40% !important; }
.max-w-t-45 { max-width: 45% !important; }
.max-w-t-50 { max-width: 50% !important; }
.max-w-t-55 { max-width: 55% !important; }
.max-w-t-60 { max-width: 60% !important; }
.max-w-t-65 { max-width: 65% !important; }
.max-w-t-70 { max-width: 70% !important; }
.max-w-t-75 { max-width: 75% !important; }
.max-w-t-80 { max-width: 80% !important; }
.max-w-t-85 { max-width: 85% !important; }
.max-w-t-90 { max-width: 90% !important; }
.max-w-t-95 { max-width: 95% !important; }
.max-w-t-100 { max-width: 100% !important; }
.max-w-t-105 { max-width: 105% !important; }
.max-w-t-110 { max-width: 110% !important; }
.max-w-t-115 { max-width: 115% !important; }
.max-w-t-120 { max-width: 120% !important; }
.max-w-t-125 { max-width: 125% !important; }
.max-w-t-130 { max-width: 130% !important; }

.max-h-t-0 { max-height: 0% !important; }
.max-h-t-5 { max-height: 5% !important; }
.max-h-t-10 { max-height: 10% !important; }
.max-h-t-15 { max-height: 15% !important; }
.max-h-t-20 { max-height: 20% !important; }
.max-h-t-25 { max-height: 25% !important; }
.max-h-t-30 { max-height: 30% !important; }
.max-h-t-35 { max-height: 35% !important; }
.max-h-t-40 { max-height: 40% !important; }
.max-h-t-45 { max-height: 45% !important; }
.max-h-t-50 { max-height: 50% !important; }
.max-h-t-55 { max-height: 55% !important; }
.max-h-t-60 { max-height: 60% !important; }
.max-h-t-65 { max-height: 65% !important; }
.max-h-t-70 { max-height: 70% !important; }
.max-h-t-75 { max-height: 75% !important; }
.max-h-t-80 { max-height: 80% !important; }
.max-h-t-85 { max-height: 85% !important; }
.max-h-t-90 { max-height: 90% !important; }
.max-h-t-95 { max-height: 95% !important; }
.max-h-t-100 { max-height: 100% !important; }
.max-h-t-105 { max-height: 105% !important; }
.max-h-t-110 { max-height: 110% !important; }
.max-h-t-115 { max-height: 115% !important; }
.max-h-t-120 { max-height: 120% !important; }
.max-h-t-125 { max-height: 125% !important; }
.max-h-t-130 { max-height: 130% !important; }

.min-w-t-0 { min-width: 0% !important; }
.min-w-t-5 { min-width: 5% !important; }
.min-w-t-10 { min-width: 10% !important; }
.min-w-t-15 { min-width: 15% !important; }
.min-w-t-20 { min-width: 20% !important; }
.min-w-t-25 { min-width: 25% !important; }
.min-w-t-30 { min-width: 30% !important; }
.min-w-t-35 { min-width: 35% !important; }
.min-w-t-40 { min-width: 40% !important; }
.min-w-t-45 { min-width: 45% !important; }
.min-w-t-50 { min-width: 50% !important; }
.min-w-t-55 { min-width: 55% !important; }
.min-w-t-60 { min-width: 60% !important; }
.min-w-t-65 { min-width: 65% !important; }
.min-w-t-70 { min-width: 70% !important; }
.min-w-t-75 { min-width: 75% !important; }
.min-w-t-80 { min-width: 80% !important; }
.min-w-t-85 { min-width: 85% !important; }
.min-w-t-90 { min-width: 90% !important; }
.min-w-t-95 { min-width: 95% !important; }
.min-w-t-100 { min-width: 100% !important;}
.min-w-t-105 { min-width: 105% !important; }
.min-w-t-110 { min-width: 110% !important; }
.min-w-t-115 { min-width: 115% !important; }
.min-w-t-120 { min-width: 120% !important; }
.min-w-t-125 { min-width: 125% !important; }
.min-w-t-130 { min-width: 130% !important; }

.min-h-t-0 { min-height: 0% !important; }
.min-h-t-5 { min-height: 5% !important; }
.min-h-t-10 { min-height: 10% !important; }
.min-h-t-15 { min-height: 15% !important; }
.min-h-t-20 { min-height: 20% !important; }
.min-h-t-25 { min-height: 25% !important; }
.min-h-t-30 { min-height: 30% !important; }
.min-h-t-35 { min-height: 35% !important; }
.min-h-t-40 { min-height: 40% !important; }
.min-h-t-45 { min-height: 45% !important; }
.min-h-t-50 { min-height: 50% !important; }
.min-h-t-55 { min-height: 55% !important; }
.min-h-t-60 { min-height: 60% !important; }
.min-h-t-65 { min-height: 65% !important; }
.min-h-t-70 { min-height: 70% !important; }
.min-h-t-75 { min-height: 75% !important; }
.min-h-t-80 { min-height: 80% !important; }
.min-h-t-85 { min-height: 85% !important; }
.min-h-t-90 { min-height: 90% !important; }
.min-h-t-95 { min-height: 95% !important; }
.min-h-t-100 { min-height: 100% !important; }
.min-h-t-105 { min-height: 105% !important; }
.min-h-t-110 { min-height: 110% !important; }
.min-h-t-115 { min-height: 115% !important; }
.min-h-t-120 { min-height: 120% !important; }
.min-h-t-125 { min-height: 125% !important; }
.min-h-t-130 { min-height: 130% !important; }

.w-t-auto { width: auto !important; }
.w-t-fit { width: fit-content !important; }

.h-t-auto { height: auto !important; }
.h-t-fit { height: fit-content !important; }
}

@media (max-width: 768px) {
.w-p-0 { width: 0% !important; }
.w-p-5 { width: 5% !important; }
.w-p-10 { width: 10% !important; }
.w-p-15 { width: 15% !important; }
.w-p-20 { width: 20% !important; }
.w-p-25 { width: 25% !important; }
.w-p-30 { width: 30% !important; }
.w-p-35 { width: 35% !important; }
.w-p-40 { width: 40% !important; }
.w-p-45 { width: 45% !important; }
.w-p-50 { width: 50% !important; }
.w-p-55 { width: 55% !important; }
.w-p-60 { width: 60% !important; }
.w-p-65 { width: 65% !important; }
.w-p-70 { width: 70% !important; }
.w-p-75 { width: 75% !important; }
.w-p-80 { width: 80% !important; }
.w-p-85 { width: 85% !important; }
.w-p-90 { width: 90% !important; }
.w-p-95 { width: 95% !important; }
.w-p-100 { width: 100% !important; }
.w-p-105 { width: 105% !important; }
.w-p-110 { width: 110% !important; }
.w-p-115 { width: 115% !important; }
.w-p-120 { width: 120% !important; }
.w-p-125 { width: 125% !important; }
.w-p-130 { width: 130% !important; }

.h-p-0 { height: 0% !important; }
.h-p-5 { height: 5% !important; }
.h-p-10 { height: 10% !important; }
.h-p-15 { height: 15% !important; }
.h-p-20 { height: 20% !important; }
.h-p-25 { height: 25% !important; }
.h-p-30 { height: 30% !important; }
.h-p-35 { height: 35% !important; }
.h-p-40 { height: 40% !important; }
.h-p-45 { height: 45% !important; }
.h-p-50 { height: 50% !important; }
.h-p-55 { height: 55% !important; }
.h-p-60 { height: 60% !important; }
.h-p-65 { height: 65% !important; }
.h-p-70 { height: 70% !important; }
.h-p-75 { height: 75% !important; }
.h-p-80 { height: 80% !important; }
.h-p-85 { height: 85% !important; }
.h-p-90 { height: 90% !important; }
.h-p-95 { height: 95% !important; }
.h-p-100 { height: 100% !important; }
.h-p-105 { height: 105% !important; }
.h-p-110 { height: 110% !important; }
.h-p-115 { height: 115% !important; }
.h-p-120 { height: 120% !important; }
.h-p-125 { height: 125% !important; }
.h-p-130 { height: 130% !important; }

.max-w-p-0 { max-width: 0% !important; }
.max-w-p-5 { max-width: 5% !important; }
.max-w-p-10 { max-width: 10% !important; }
.max-w-p-15 { max-width: 15% !important; }
.max-w-p-20 { max-width: 20% !important; }
.max-w-p-25 { max-width: 25% !important; }
.max-w-p-30 { max-width: 30% !important; }
.max-w-p-35 { max-width: 35% !important; }
.max-w-p-40 { max-width: 40% !important; }
.max-w-p-45 { max-width: 45% !important; }
.max-w-p-50 { max-width: 50% !important; }
.max-w-p-55 { max-width: 55% !important; }
.max-w-p-60 { max-width: 60% !important; }
.max-w-p-65 { max-width: 65% !important; }
.max-w-p-70 { max-width: 70% !important; }
.max-w-p-75 { max-width: 75% !important; }
.max-w-p-80 { max-width: 80% !important; }
.max-w-p-85 { max-width: 85% !important; }
.max-w-p-90 { max-width: 90% !important; }
.max-w-p-95 { max-width: 95% !important; }
.max-w-p-100 { max-width: 100% !important; }
.max-w-p-105 { max-width: 105% !important; }
.max-w-p-110 { max-width: 110% !important; }
.max-w-p-115 { max-width: 115% !important; }
.max-w-p-120 { max-width: 120% !important; }
.max-w-p-125 { max-width: 125% !important; }
.max-w-p-130 { max-width: 130% !important; }

.max-h-p-0 { max-height: 0% !important; }
.max-h-p-5 { max-height: 5% !important; }
.max-h-p-10 { max-height: 10% !important; }
.max-h-p-15 { max-height: 15% !important; }
.max-h-p-20 { max-height: 20% !important; }
.max-h-p-25 { max-height: 25% !important; }
.max-h-p-30 { max-height: 30% !important; }
.max-h-p-35 { max-height: 35% !important; }
.max-h-p-40 { max-height: 40% !important; }
.max-h-p-45 { max-height: 45% !important; }
.max-h-p-50 { max-height: 50% !important; }
.max-h-p-55 { max-height: 55% !important; }
.max-h-p-60 { max-height: 60% !important; }
.max-h-p-65 { max-height: 65% !important; }
.max-h-p-70 { max-height: 70% !important; }
.max-h-p-75 { max-height: 75% !important; }
.max-h-p-80 { max-height: 80% !important; }
.max-h-p-85 { max-height: 85% !important; }
.max-h-p-90 { max-height: 90% !important; }
.max-h-p-95 { max-height: 95% !important; }
.max-h-p-100 { max-height: 100% !important; }
.max-h-p-105 { max-height: 105% !important; }
.max-h-p-110 { max-height: 110% !important; }
.max-h-p-115 { max-height: 115% !important; }
.max-h-p-120 { max-height: 120% !important; }
.max-h-p-125 { max-height: 125% !important; }
.max-h-p-130 { max-height: 130% !important; }

.min-w-p-0 { min-width: 0% !important; }
.min-w-p-5 { min-width: 5% !important; }
.min-w-p-10 { min-width: 10% !important; }
.min-w-p-15 { min-width: 15% !important; }
.min-w-p-20 { min-width: 20% !important; }
.min-w-p-25 { min-width: 25% !important; }
.min-w-p-30 { min-width: 30% !important; }
.min-w-p-35 { min-width: 35% !important; }
.min-w-p-40 { min-width: 40% !important; }
.min-w-p-45 { min-width: 45% !important; }
.min-w-p-50 { min-width: 50% !important; }
.min-w-p-55 { min-width: 55% !important; }
.min-w-p-60 { min-width: 60% !important; }
.min-w-p-65 { min-width: 65% !important; }
.min-w-p-70 { min-width: 70% !important; }
.min-w-p-75 { min-width: 75% !important; }
.min-w-p-80 { min-width: 80% !important; }
.min-w-p-85 { min-width: 85% !important; }
.min-w-p-90 { min-width: 90% !important; }
.min-w-p-95 { min-width: 95% !important; }
.min-w-p-100 { min-width: 100% !important;}
.min-w-p-105 { min-width: 105% !important; }
.min-w-p-110 { min-width: 110% !important; }
.min-w-p-115 { min-width: 115% !important; }
.min-w-p-120 { min-width: 120% !important; }
.min-w-p-125 { min-width: 125% !important; }
.min-w-p-130 { min-width: 130% !important; }

.min-h-p-0 { min-height: 0% !important; }
.min-h-p-5 { min-height: 5% !important; }
.min-h-p-10 { min-height: 10% !important; }
.min-h-p-15 { min-height: 15% !important; }
.min-h-p-20 { min-height: 20% !important; }
.min-h-p-25 { min-height: 25% !important; }
.min-h-p-30 { min-height: 30% !important; }
.min-h-p-35 { min-height: 35% !important; }
.min-h-p-40 { min-height: 40% !important; }
.min-h-p-45 { min-height: 45% !important; }
.min-h-p-50 { min-height: 50% !important; }
.min-h-p-55 { min-height: 55% !important; }
.min-h-p-60 { min-height: 60% !important; }
.min-h-p-65 { min-height: 65% !important; }
.min-h-p-70 { min-height: 70% !important; }
.min-h-p-75 { min-height: 75% !important; }
.min-h-p-80 { min-height: 80% !important; }
.min-h-p-85 { min-height: 85% !important; }
.min-h-p-90 { min-height: 90% !important; }
.min-h-p-95 { min-height: 95% !important; }
.min-h-p-100 { min-height: 100% !important; }
.min-h-p-105 { min-height: 105% !important; }
.min-h-p-110 { min-height: 110% !important; }
.min-h-p-115 { min-height: 115% !important; }
.min-h-p-120 { min-height: 120% !important; }
.min-h-p-125 { min-height: 125% !important; }
.min-h-p-130 { min-height: 130% !important; }

.w-p-auto { width: auto !important; }
.w-p-fit { width: fit-content !important; }

.h-p-auto { height: auto !important; }
.h-p-fit { height: fit-content !important; }
}