html, body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
font-family: var(--font-family);
font-weight: var(--font-weight);
font-size: var(--font-size);
line-height: var(--line-height);
background: var(--bg-color);
color: var(--tx-color);
}
 
body.block-scroll {
overflow: hidden
}

header, footer, div, img, table {
position: relative;
float: left;
}