/* TEXT */
.tx-white { color: var(--white-color) !important; }
.tx-black { color: var(--white-black) !important; }
.tx-primary { color: var(--primary-color) !important; }
.tx-secondary { color: var(--secondary-color) !important; }
.tx-color { color: var(--tx-color) !important; }
.tx-success { color: var(--success-color) !important; }
.tx-danger { color: var(--danger-color) !important; }
.tx-info { color: var(--info-color) !important; }
.tx-light { color: var(--light-color) !important; }
.tx-dark { color: var(--dark-color) !important; }

/* BACKGROUND */
.bg-white { background: var(--white-color) !important; }
.bg-white-0 { background: var(--white-color-0) !important; }
.bg-white-10 { background: var(--white-color-10) !important; }
.bg-white-20 { background: var(--white-color-20) !important; }
.bg-white-30 { background: var(--white-color-30) !important; }
.bg-white-40 { background: var(--white-color-40) !important; }
.bg-white-50 { background: var(--white-color-50) !important; }
.bg-white-60 { background: var(--white-color-60) !important; }
.bg-white-70 { background: var(--white-color-70) !important; }
.bg-white-80 { background: var(--white-color-80) !important; }
.bg-white-90 { background: var(--white-color-90) !important; }
.bg-white-100 { background: var(--white-color-100) !important; }

.bg-black { background: var(--black-color) !important; }
.bg-black-0 { background: var(--black-color-0) !important; }
.bg-black-10 { background: var(--black-color-10) !important; }
.bg-black-20 { background: var(--black-color-20) !important; }
.bg-black-30 { background: var(--black-color-30) !important; }
.bg-black-40 { background: var(--black-color-40) !important; }
.bg-black-50 { background: var(--black-color-50) !important; }
.bg-black-60 { background: var(--black-color-60) !important; }
.bg-black-70 { background: var(--black-color-70) !important; }
.bg-black-80 { background: var(--black-color-80) !important; }
.bg-black-90 { background: var(--black-color-90) !important; }
.bg-black-100 { background: var(--black-color-100) !important; }

.bg-primary { background: var(--primary-color) !important; }
.bg-primary-0 { background: var(--primary-color-0) !important; }
.bg-primary-10 { background: var(--primary-color-10) !important; }
.bg-primary-20 { background: var(--primary-color-20) !important; }
.bg-primary-30 { background: var(--primary-color-30) !important; }
.bg-primary-40 { background: var(--primary-color-40) !important; }
.bg-primary-50 { background: var(--primary-color-50) !important; }
.bg-primary-60 { background: var(--primary-color-60) !important; }
.bg-primary-70 { background: var(--primary-color-70) !important; }
.bg-primary-80 { background: var(--primary-color-80) !important; }
.bg-primary-90 { background: var(--primary-color-90) !important; }
.bg-primary-100 { background: var(--primary-color-100) !important; }

.bg-secondary { background: var(--secondary-color) !important; }
.bg-secondary-0 { background: var(--secondary-color-0) !important; }
.bg-secondary-10 { background: var(--secondary-color-10) !important; }
.bg-secondary-20 { background: var(--secondary-color-20) !important; }
.bg-secondary-30 { background: var(--secondary-color-30) !important; }
.bg-secondary-40 { background: var(--secondary-color-40) !important; }
.bg-secondary-50 { background: var(--secondary-color-50) !important; }
.bg-secondary-60 { background: var(--secondary-color-60) !important; }
.bg-secondary-70 { background: var(--secondary-color-70) !important; }
.bg-secondary-80 { background: var(--secondary-color-80) !important; }
.bg-secondary-90 { background: var(--secondary-color-90) !important; }
.bg-secondary-100 { background: var(--secondary-color-100) !important; }

.bg-success { background: var(--success-color) !important; }
.bg-success-0 { background: var(--success-color-0) !important; }
.bg-success-10 { background: var(--success-color-10) !important; }
.bg-success-20 { background: var(--success-color-20) !important; }
.bg-success-30 { background: var(--success-color-30) !important; }
.bg-success-40 { background: var(--success-color-40) !important; }
.bg-success-50 { background: var(--success-color-50) !important; }
.bg-success-60 { background: var(--success-color-60) !important; }
.bg-success-70 { background: var(--success-color-70) !important; }
.bg-success-80 { background: var(--success-color-80) !important; }
.bg-success-90 { background: var(--success-color-90) !important; }
.bg-success-100 { background: var(--success-color-100) !important; }

.bg-danger { background: var(--danger-color) !important; }
.bg-danger-0 { background: var(--danger-color-0) !important; }
.bg-danger-10 { background: var(--danger-color-10) !important; }
.bg-danger-20 { background: var(--danger-color-20) !important; }
.bg-danger-30 { background: var(--danger-color-30) !important; }
.bg-danger-40 { background: var(--danger-color-40) !important; }
.bg-danger-50 { background: var(--danger-color-50) !important; }
.bg-danger-60 { background: var(--danger-color-60) !important; }
.bg-danger-70 { background: var(--danger-color-70) !important; }
.bg-danger-80 { background: var(--danger-color-80) !important; }
.bg-danger-90 { background: var(--danger-color-90) !important; }
.bg-danger-100 { background: var(--danger-color-100) !important; }

.bg-info { background: var(--info-color) !important; }
.bg-info-0 { background: var(--info-color-0) !important; }
.bg-info-10 { background: var(--info-color-10) !important; }
.bg-info-20 { background: var(--info-color-20) !important; }
.bg-info-30 { background: var(--info-color-30) !important; }
.bg-info-40 { background: var(--info-color-40) !important; }
.bg-info-50 { background: var(--info-color-50) !important; }
.bg-info-60 { background: var(--info-color-60) !important; }
.bg-info-70 { background: var(--info-color-70) !important; }
.bg-info-80 { background: var(--info-color-80) !important; }
.bg-info-90 { background: var(--info-color-90) !important; }
.bg-info-100 { background: var(--info-color-100) !important; }

.bg-light { background: var(--light-color) !important; }
.bg-light-0 { background: var(--light-color-0) !important; }
.bg-light-10 { background: var(--light-color-10) !important; }
.bg-light-20 { background: var(--light-color-20) !important; }
.bg-light-30 { background: var(--light-color-30) !important; }
.bg-light-40 { background: var(--light-color-40) !important; }
.bg-light-50 { background: var(--light-color-50) !important; }
.bg-light-60 { background: var(--light-color-60) !important; }
.bg-light-70 { background: var(--light-color-70) !important; }
.bg-light-80 { background: var(--light-color-80) !important; }
.bg-light-90 { background: var(--light-color-90) !important; }
.bg-light-100 { background: var(--light-color-100) !important; }

.bg-dark { background: var(--dark-color) !important; }
.bg-dark-0 { background: var(--dark-color-0) !important; }
.bg-dark-10 { background: var(--dark-color-10) !important; }
.bg-dark-20 { background: var(--dark-color-20) !important; }
.bg-dark-30 { background: var(--dark-color-30) !important; }
.bg-dark-40 { background: var(--dark-color-40) !important; }
.bg-dark-50 { background: var(--dark-color-50) !important; }
.bg-dark-60 { background: var(--dark-color-60) !important; }
.bg-dark-70 { background: var(--dark-color-70) !important; }
.bg-dark-80 { background: var(--dark-color-80) !important; }
.bg-dark-90 { background: var(--dark-color-90) !important; }
.bg-dark-100 { background: var(--dark-color-100) !important; }

.bg-color { background: var(--bg-color) !important; }
.bg-color-0 { background: var(--bg-color-0) !important; }
.bg-color-10 { background: var(--bg-color-10) !important; }
.bg-color-20 { background: var(--bg-color-20) !important; }
.bg-color-30 { background: var(--bg-color-30) !important; } 
.bg-color-40 { background: var(--bg-color-40) !important; }
.bg-color-50 { background: var(--bg-color-50) !important; }
.bg-color-60 { background: var(--bg-color-60) !important; }
.bg-color-70 { background: var(--bg-color-70) !important; }
.bg-color-80 { background: var(--bg-color-80) !important; }
.bg-color-90 { background: var(--bg-color-90) !important; }
.bg-color-100 { background: var(--bg-color-100) !important; }