#form-list{
position: relative;
float: left;
width: 100%;
}
table .little{
width: 30px;
}
table .medium{
width: 120px;
}
table .big{
width: 180px;
}
.tablet-none,
.phone-none { display: block; }

th.phone-none,
th.tablet-none,
td.phone-none,
td.tablet-none {
display: table-cell;
}
.pc-none { display: none !important; }


/* DataTable */
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order::after, 
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order::after, 
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order::after, 
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order::after {
font-family: bootstrap-icons !important;
content: '\F282';
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order::before, 
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order::before, 
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order::before, 
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order::before {
font-family: bootstrap-icons !important;
content: '\F286';
}

.dt-container .dt-scroll-body { overflow: visible !important; }

@media (max-width: 992px) {
.tablet-none { display: none !important; }
}
@media (max-width: 768px) {
.phone-none { display: none !important; }
.pc-none { display: block !important; }

th.pc-none,
td.pc-none {
display: table-cell !important;
}
}