section {
position: relative;
float: left;
width: 100%;
padding: calc(var(--spacer) * 10) 0;
overflow: hidden;
}
header {
width: 100%;
box-sizing: border-box;
z-index: 99;
}
.content {
width: calc(100% - 80px);
max-width: 1200px;
left: 50%;
transform: translateX(-50%);
}
.content.content-medium { 
max-width: 700px; 
}
.content.content-little { 
max-width: 500px; 
}
header .content {
height: 100%;
}
.content.content-small { 
max-width: 400px; 
}
section.full-page { 
height: 100%; 
padding: 0;
}
section.full-page .content { 
height: calc(100% - 80px);
margin: 40px 0;
}
section.intro {
margin-top: 80px; 
}
section.full-page.intro { 
height: calc(100% - 80px);
}

@media (max-width: 768px) {
.content { width: calc(100% - 40px); }
}