/* File */
.wi-container-files .wi-card-file.wi-first-file .wi-arrow-up {
display: none;
}
.wi-container-files .wi-card-file.wi-last-file .wi-arrow-down {
display: none;
}

/* Summernote */
.note-modal .modal-dialog .modal-content .modal-header .modal-title{
position: absolute
}
.note-editor.note-frame.panel.panel-default{
background: white;
border: 1px solid #ced4da;
border-radius: .25rem;
}

/* FullCalendar */
.fc-header-toolbar h2 {
font-size: calc(1.275rem + .3vw) !important;
text-transform: capitalize;
}
.fc-header-toolbar .btn,
.fc-event {
background: #212529;
border-color: #212529;
padding: 0.25rem 0.5rem;
font-size: 0.875rem;
border-radius: 0.25rem;
}
.fc-event {
background: none;
}
.fc-header-toolbar .btn:hover {
background: #424649;
border-color: #373b3e;
}
.fc-header-toolbar .btn:disabled {
background: #212529;
border-color: #212529;
}
.fc-header-toolbar .btn.active,
.fc-header-toolbar .btn.active:active,
.fc-header-toolbar .btn.active:checked,
.fc-header-toolbar .btn.active:checked {
background: #4d5154;
border-color: #373b3e;
}
.fc-view-harness th {
text-transform: capitalize;
}


/* Quill.js */
.ql-snow .ql-stroke { stroke: var(--bs-body-color); }
.ql-snow .ql-fill{ fill: var(--bs-body-color); }


/* Editor.js */
.tc-wrap {
--color-background: var(--bs-card-bg);
--color-text-secondary: var(--bs-secondary);
--color-border: var(--bs-card-border-color);
}
.tc-toolbox {
--toggler-dots-color: var(--bs-card-border-color);
--toggler-dots-color-hovered: var(--bs-body-color);
}
.ce-popover,
.tc-popover {
--color-border: var(--bs-card-border-color);
--color-shadow: none;
--color-background: var(--bs-body-bg);
--color-text-primary: var(--bs-body-color);
--color-text-secondary: var(--bs-secondary);
--color-border-icon: var(--bs-body-bg);
--color-border-icon-disabled: var(--bs-secondary);
--color-text-icon-active: var(--bs-success);
--color-background-icon-active: var(--bs-secondary-bg);
--color-background-item-focus: var(--bs-secondary-bg);
--color-shadow-item-focus: var(--bs-secondary-bg);

--color-background-hover: var(--bs-secondary-bg);
--color-background-item-hover: var(--bs-secondary-bg);
--color-background-confirm: var(--bs-danger);
--color-background-item-confirm: var(--bs-danger);
--color-background-confirm-hover: var(--bs-danger);
--color-background-item-confirm-hover: var(--bs-danger);
--color-text-confirm: #fff;
}
.ce-conversion-tool__icon {
box-shadow: none;
background: var(--color-background);
}
.codex-editor ::selection {
background-color: var(--bs-secondary-bg);
}
.ce-toolbar__plus,
.ce-toolbar__settings-btn {
color: var(--bs-body-color);
}
.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
background: var(--bs-secondary-bg);
}
.ce-inline-toolbar__dropdown {
border-color: var(--bs-card-border-color);
}
.ce-conversion-tool:hover,
.ce-inline-tool:hover,
.ce-inline-toolbar__dropdown:hover {
background: var(--bs-secondary-bg);
}
.ce-block.ce-block--selected .cdx-block {
background: var(--bs-secondary-bg);
}
.ce-popover-item__icon {
background: var(--color-background);
}
.cdx-search-field {
background: none;
}
.ce-inline-toolbar,
.ce-conversion-toolbar {
background-color: var(--bs-body-bg);
border: 1px solid var(--bs-card-border-color);
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 6px;
}

.wi-blog .ce-popover-item[data-item-name="withBorder"],
.wi-blog .ce-popover-item[data-item-name="stretched"],
.wi-blog .ce-popover-item[data-item-name="withBackground"],
.wi-blog .image-gallery__tune[data-tune="fit"],
.wi-blog .image-gallery__tune[data-tune="slider"] {
display: none;
}