:root {
--bg-color: #ffffff;
--tx-color: #000000;
--header-height: 80px;
}
header {
border-bottom: 2px solid var(--black-color);
box-sizing: border-box;
}
.left-bar {
width: 160px;
margin-right: 40px;
}
.wrapped {
width: calc(100% - 200px);
overflow: scroll;
}
#hamburger {
display: none;
}

@media (max-width: 768px) {
#hamburger {
display: block;
}
.left-bar {
position: fixed;
width: 100%;
top: -200%;
background: var(--bg-color);
z-index: 98;
transition: 1s;
}
.left-bar.show {
top: 0px;
background: var(--bg-color);
}
.wrapped {
width: 100%;
}
}
